//Import Files

//Variblies
@use "../../scss/Variblies/Variblies.scss" as *;

//Mixin
@use "../../scss/Helpers/Mixin.scss" as *;

#chef{
    background-image: url(../../images/Assest/bg.png);
    background-size: cover;
    background-attachment: fixed;
    .content{
        .header{
            p{
                color: $color-white;
                font-family: $font-alt;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.04em;
                text-transform: capitalize;
            }
            h2{
                color: $color-golden;
                font-weight: bolder;
                font-family: $font-base;
                text-transform: capitalize;
                letter-spacing: 0.04em;
                font-size: 45px;
            }
        }
        .body{
            p, span{
                color: $color-white;
                font-family: $font-base;
                font-size: 16px;
                letter-spacing: 0.04em;
                text-transform: capitalize;
            }
            .signature{
                .name{
                    color: $color-golden;
                    font-family: $font-base;
                    text-transform: capitalize;
                    letter-spacing: 0.04em;
                    font-size: 25px;
                }
            }
        }
    }
}